<nav class="py-2 bg-dark border-bottom">
            <div class="container d-flex flex-wrap">
               <div class="dropdown">
                    <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mon Blog
                    </a>
                    <ul class="dropdown-menu" aria-labelledby='dropdownMenuButtonAdmin'>
                        <li><a class="dropdown-item" href="{{path('app_admin')}}">Tableau de bord</a></li>
                        <li><a class="dropdown-item" href="{{ ea_admin_url('MenuCrudController') }}">Menu</a></li>
                    </ul>
                </div>   
                 <div class="dropdown">
                    <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Ajouter
                    </a>
                    <ul class="dropdown-menu" aria-labelledby='dropdownMenuButtonAdmin'>
                        <li></li>
                        <li><a class="dropdown-item" href="#">Page</a></li>
                    </ul>
                </div>   
            </div>
        </nav>

         <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="{{path('app_home')}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-4 header-title">Blog</span>
                </a>
                <ul class="nav nav-pills align-items-center">

                    {% for menu in menus %}
                    {% if menu.subMenus.count > 0 %}
                            <div class="dropdown">
                                <a class="nav-link nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ menu.name }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby='dropdownMenuButtonAdmin'>
                                    {% for subMenu in menu.subMenus %}
                                         <li><a class="dropdown-item" href="{{ subMenu|menuLink }}">{{ subMenu.name }}</a></li>
                                    {% endfor %}
                            </div>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ menu|menuLink }}" class="nav-link text-dark">{{menu.name}}</a>
                        </li>
                    {% endif %}
                    {% endfor %}


                    <li class="nav-item">
                        <a href="" class="nav-link text-dark">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-dark">Se connecter</a>
                    </li>

                </ul>
            </header>
        </div>